.initial {
  font-size: 40px;
}
.parent {
  border: 2px solid rgba(8, 23, 237, 0.757);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
  font-size: xx-large;
}
.plus {
  width: 50px;
  height: 50px;
  background-color: red;
}
.minus {
  width: 50px;
  height: 50px;
  background-color: red;
}
.reset {
  width: 50px;
  height: 50px;
  background-color: red;
}
