#fixed{
    background-color: aqua;
    font-size: medium; color:black;
    height: 50px;
    text-align:center;
    padding: 20px;

}
h1{
    font-size:xx-large;
    color: black;
    text-align: center;
}
#rel{
    background-color: greenyellow;
    font-size: medium;color: black;
    height: 50px;
    text-align: center;
    padding: 20px;
    position: relative;
}
#abs{
    background-color: yellow;
    position: absolute;
    height: 100px;
    width: 100px;
    left: 87%;
    top:0%;
    
}
#st{
    margin-top: 50px;
    background-color: gray;
    font-size: medium; color:black;
    height: 50px;
    text-align:center;
    padding: 20px; 
}