body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
   background: linear-gradient(135deg, #fcf9f9, #d9dad2);
}

.navbar {
  background: #615d5d;
  color: white;
  border-radius: 0 0 25px 25px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}

.product {
  border: 2px solid #0e0d0d;
  padding: 10px;
  text-align: center;
}

.product img {
  width: 120px;
  height: auto;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}
button:hover {
  background: #0056b3;
}
