body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.title {
    color: blue;
    text-align: center;
}

.box {
    width: 200px;
    height: 100px;
    background: orange;
    margin: 20px auto;
    text-align: center;
    line-height: 100px;
}

button {
    display: block;
    margin: auto;
    padding: 10px;
}

button:hover {
    background-color: black;
    color: white;
}